/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* @import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap); */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);


body {
  font-family: 'Poppins', sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
}

:root {
  --primary-color: hsl(238, 52%, 38%);
  --secondary-color: hsl(358, 85%, 52%);
  --text-color-black: hsl(240, 1%, 35%);
  --text-color-white: hsl(0, 0%, 100%);

  /* Bootstrap Colors */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  /* Bootstrap Colors */
}

.navbar {
  transition: all 0.6s;
}

.navbar .nav-link,
.navbar.active .nav-link {
  color: var(--text-color-white);
  margin-left: 10px;
  font-size: 1.1rem;
  transition: all 0.6s;
}

.navbar .nav-link:hover,
.navbar.active .nav-link:hover {
  color: var(--secondary-color);
  transition: all 0.6s;
}

.navbar .nav-item .nav-link::after,
.navbar .nav-item .nav-link.dropdown-toggle::after {
  content: "";
  width: 0;
  height: 2px;
  /* background: var(--secondary-color); */
  background: var(--primary-color);
  display: block;
  margin: auto;
  transition: all 0.5s;
}

.navbar .nav-item .nav-link:hover::after,
.navbar .nav-item .nav-link.dropdown-toggle:hover::after {
  width: 100%;
}

h1::after {
  content: "";
  width: 2rem;
  height: 4px;
  left: 50%;
  bottom: 0;
  position: relative;
  background: var(--secondary-color);
  display: block;
  transition: all 0.6s;
}

.navbar .navbar-brand {
  width: 40px;
}

.dropdown-item {
  transition: all 0.6s;
}

.dropdown-item:hover {
  background: transparent;
  color: var(--secondary-color);
  transition: all 0.6s;
}

.dropdown-toggle .fa-caret-down {
  transition: all 0.5s;
}

.dropdown-toggle:hover .fa-caret-down {
  transform: TranslateX(3px);
  transition: all 0.5s;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  padding: 0.5rem 1rem !important;
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: var(--text-color-black);
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.btn {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.6s;
}

.btn:hover {
  color: #212529;
  background: var(--primary-color);
  transition: all 0.6s;
}



/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
    transition: all 0.6s;
  }

  /* .navbar .navbar-brand, */
  .navbar .nav-link {
    color: var(--text-color-black);
  }

  .navbar .nav-item .nav-link:hover::after,
  .navbar .nav-item .nav-link.dropdown-toggle:hover::after {
    width: 0;
  }
}

/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
    transition: all 0.6s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: all 0.6s;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
    transition: all 0.6s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
    transition: all 0.6s;
  }
}

/* ============ desktop view .end// ============ */


/* Blue
Hex
#2E3192
RGB
rgb(46, 49, 146)
HSL
hsl(238, 52%, 38%)

Red
Hex
#ED1C24
RGB
rgb(237, 28, 36)
HSL
hsl(358, 85%, 52%)

Dark Grey
Hex
#58585A
RGB
rgb(88, 88, 90)
HSl
hsl(240, 1%, 35%)

Light Grey
Hex
#CFCBCA
RGB
rgb(207, 203, 202)
HSl
hsl(12, 5%, 80%) */